
body {
    background-color: black;
    position: relative;
    margin-top: 50px;
    color: #657785;
    font-family: Georgia,Times,"Times New Roman",serif;
}
#ProfilePic {
    padding-top: 25px;
}
h2  {
    color: #00D99D;
}
.navbar-default {
    background-color: #057CD8;
}
footer {
    text-align: center;
}
#github {
    padding-left: 145px;
}
p {
    text-align: left;
}
#skills  {
    padding-top: 25px;
    text-align: left;
}
#projects {
    padding-top: 95px;
}
#Education  {
    padding-top: 95px;
    padding-bottom: 15px;
}