.multiColumn {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
body {
    background-color: black;
    position: relative;
    margin-top: 50px;
    color: #657785;
    font-family: Georgia,Times,"Times New Roman",serif;
}
#ProfilePic {
    padding-top: 25px;
}
h2  {
    color: #00D99D;
}
.navbar-default {
    background-color: #057CD8;
}
footer {
    text-align: center;
}